body { font-size:12pt; font-weight:400; }

#gallery { display:flex; width: 98%;  flex-wrap: nowrap;justify-content: center; margin: 0px auto;}
#gallery-nav { margin:1.5em;}

#cat_menu {
  display:flex;
  flex-wrap:wrap;
  margin-top:1em;
  justify-content:center;
  width: 80%;
  margin: 0px auto;
}
#cat_menu li { list-style-type:none;margin:0.2em; }
#cat_menu li a { font-size:1.3em; }
#cat_menu li a.active { background:hotpink;border:0px; }


/*********** tiles *********/

.tile { width:180px;  }
.tile img { width:100%; }
.tile-content,.tile-title { margin: 1em; }
.tile-content {width:160px;height:160px;background:grey;font-weight:normal;position:relative; overflow:hidden;box-shadow: 0px 0px 6px #333;border-radius:4px; }
.tile-content video { width:100%; }
.tile-content .play {position:absolute; top:0; bottom:0;left:0;right:0; }
.tile-title { 
  font-size: 1em;
  font-weight: normal;
  margin: 0 1em 1em;
  line-height: 1.2em;
}
h2 {
  margin:2em 0 0 0.5em; 
}


/*
.gallery-window {
  width: 100%;
  overflow-y:scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-window::-webkit-scrollbar { 
    display: none;
}
*/




/**** modal ****/

.modal-body {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}
.modal-body-info {
  font-size:1.1em;
  position:relative;
}
.modal-body-info audio{
  width:100%;
  position:absolute;
  bottom:0;
}
