<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <title>Audio Files</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
    
  </head>
  <body>
    <main class="page-content" aria-label="Content">
        {{ content }}
    </main>
  </body>
    <script src="{{ "/assets/js/lightbox/lightbox/lightbox.min.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/assets/js/lightbox/lightbox/lightbox.min.css" | relative_url }}">  
</html>
